{{<layout}}

  {{$applicationContent}}

    <h2 class="heading-xlarge">Track your applications</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque blanditiis, commodi distinctio earum eligendi ex inventore laborum molestiae nemo nihil numquam omnis pariatur quam ratione repellat similique sunt veritatis, voluptate?</p>

    <a href="/roles/new" class="button">+ Add role</a>

    <section class="space-top-double">
      <ul>
        {{#roles}}
        <li>
          <div class="grid-row">
            <div class="column-three-quarter">
              <a href="#" class="box box-link box-fixed-height">
                <div class="grid-row">
                  <div class="column-three-quarter">
                    <h4 class="bold-small">{{title}}</h4>
                    <p class="color-text">{{employer}}</p>
                  </div>
                  <div class="column-one-quarter color-text center">{{status}}</div>
                </div>
              </a>
            </div>
            <div class="column-one-quarter">
              <form method="POST" class="box box-fixed-height">
                <input type="hidden" name="id" value="{{id}}">
                <input type="hidden" name="state" value="{{state}}">

                    {{stateQuestion}}
                    <div>
                      <input type="submit" name="action" value="yes" class="button">
                      <input type="submit" name="action" value="no" class="button">
                    </div>

              </form>
            </div>
          </div>

        </li>
        {{/roles}}
      </ul>
    </section>


  {{/applicationContent}}

{{/layout}}
