{{<layout}}

  {{$applicationContent}}

    <h2 class="heading-xlarge">Track your applications</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque blanditiis, commodi distinctio earum eligendi ex inventore laborum molestiae nemo nihil numquam omnis pariatur quam ratione repellat similique sunt veritatis, voluptate?</p>

    <a href="/roles/new" class="button">+ Add role</a>

    <section class="space-top-double">
      <ul>
        {{#roles}}
        <li>
          <form method="POST" class="box">
            <input type="hidden" name="id" value="{{id}}">
            <input type="hidden" name="state" value="{{state}}">
            <div class="grid-row">
              <div class="column-three-quarter">
                <h4 class="bold-small">{{title}}</h4>
                <p class="color-text">{{employer}}</p>
              </div>
              <div class="column-one-quarter color-text center">
                {{state}}
                <div>
                  <input type="submit" name="action" value="yes">
                  <input type="submit" name="action" value="no">
                </div>
              </div>
            </div>
          </form>
        </li>
        {{/roles}}
      </ul>
    </section>


  {{/applicationContent}}

{{/layout}}
